.navigation {
    background-color: black;
} 

.navigation a {
    display: inline-block;
    text-align: center;
    color: white;
    padding: 20px;   
    text-decoration: none; 
} 

.navigation a:hover {
    background-color: white;
    color: black;  
} 

h1 {
    font-size: 100px;
    color: white;
    padding-top: 150px;
}

html {
    background: url(images/try.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

#content {
  align-content: center;
  text-align: center; 
}

#greeting-container {
  margin-top: 20px;
}

