html {
    background: url(images/try.gif);
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    font-size: 100px;
    color: white;
    padding-top: 12%
}

h2 {
    font-size: 50px;
    color: white;
    padding-top: 1.75%
}

p {
    color: white;
}

h3 {
    font-size: 30px;
    color: white;
    padding-top: 1%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black; 
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
  }

#content {
  align-content: center;
  text-align: center; 
}

#greeting-container {
  margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: initial;
    display: none;
    background-color: rgba(0, 0, 0, 0.836);
    min-width: 250px;
    z-index: 1;
}

.show {display: block;}

.textwrap {
    float: left;
    margin-bottom: 10px;
    margin-left:10px;
}
